
<div class="countries-list">
  <h1 class="countries-name">Country's Name: <%= country.name %></h1>

  <ul class="countries-list-ul">
    <li class="countries-code"><%= country.code %></li>
    <li class="countries-natName">Country's Native Name: <%= country.nativeName %></li>
    <li class="countries-pop">Population: <%= country.population %></li>
    <li class="countries-lreg">Region: <%= country.region %></li>
    <li class="countries-flag"><img src="<%= country.flag %>"/</li>
  </ul>
</div>
